* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  background-color: #365fa1;
}

.navigation {
  position: fixed;
  inset: 20px 20px 20px 95vw;
  background-color: #287bff;
  width: 80px;
  border-left: 10px solid #287bff;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.05);
  transition: 0.5s;
}
.navigation ul {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}
.navigation ul li {
  position: relative;
  width: 100%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.navigation ul li:not(:first-child):hover::before {
  content: "";
  position: absolute;
  top: -20px;
  right: 0px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-bottom-right-radius: 20px;
  box-shadow: 7.5px 7.5px 0 7.5px #fff;
}
.navigation ul li:not(:first-child):hover::after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: 0px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-top-right-radius: 20px;
  box-shadow: 7.5px -7.5px 0 7.5px #fff;
}
.navigation ul li:hover {
  background-color: #fff;
}
.navigation ul li:nth-child(1) {
  top: 20px;
  margin-bottom: 40px;
  background: none;
}
.navigation ul li:hover:not(:first-child) a {
  color: #365fa1;
}
.navigation ul li a {
  position: relative;
  display: flex;
  width: 100%;
  color: #fff;
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
}
.navigation ul li a .icon i {
  font-size: 22px;
}
.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}
.navigation #btnCall {
  position: absolute;
  bottom: 15px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
.navigation #btnCall span {
  display: block;
  width: 60%;
  height: 2px;
  background-color: #000;
  text-indent: -9999px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -30%;
  transition: all 0.5s;
}
.navigation #btnCall::before {
  content: "";
  width: 60%;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-left: -30%;
  transition: all 0.5s;
}
.navigation #btnCall::after {
  content: "";
  width: 60%;
  height: 2px;
  background-color: #000;
  position: absolute;
  bottom: 25%;
  left: 50%;
  margin-left: -30%;
  transition: all 0.5s;
}
.navigation.on {
  width: 300px;
  border-radius: 20px;
  inset: 20px 20px 20px 83vw;
}
.navigation.on #btnCall span {
  opacity: 0;
  transform: translate(100%);
}
.navigation.on #btnCall::before {
  transform: rotate(45deg);
  top: calc(50% - 1px);
}
.navigation.on #btnCall::after {
  transform: rotate(-45deg);
  bottom: calc(50% - 1px);
}

/*# sourceMappingURL=style.css.map */
